# Assignment

Q1. Write the Python program to add, subtract, multiply and divide
two pandas series ?

    Sample Series- [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [2]:
import pandas as pd

In [10]:
s1=pd.Series([2,4,6,8,10])
s2=pd.Series([1,3,5,7,9])
print("Series 1 :")
print(s1)
print("Series 2 :")
print(s2)
print("Pandas Series addition")
print(s1+s2)
print("Pandas Series Subtraction")
print(s1-s2)
print("Pandas Series Multiplication")
print(s1*s2)
print("Pandas Series Division")
print(s1/s2)

Series 1 :
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series 2 :
0    1
1    3
2    5
3    7
4    9
dtype: int64
Pandas Series addition
0     3
1     7
2    11
3    15
4    19
dtype: int64
Pandas Series Subtraction
0    1
1    1
2    1
3    1
4    1
dtype: int64
Pandas Series Multiplication
0     2
1    12
2    30
3    56
4    90
dtype: int64
Pandas Series Division
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

## -------------------------------------------------------------------------------------------------

Q2. Write a Python program to convert a dictionary to the Pandas
Series?
    
    Sample SeriesOriginal dictionary-
    {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
    Converted series -
    a 100
    b 200
    c 300
    d 400
    e 800
    dtype- int64

In [22]:
dic={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
print("Original Dictionary-")
print(dic)
s=pd.Series(dic)
print("Converted series-")
print(s)

Original Dictionary-
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series-
a    100
b    200
c    300
d    400
e    800
dtype: int64

## -------------------------------------------------------------------------------------------------

Q3. Write a python program to change the data type of given a
column or a Series?

    Sample SeriesOriginal Data Series0 100
    1 200
    2 python
    3 300.12
    4 400
    dtype- object
    Change the said data type to numeric0 100.00
    1 200.00
    2 NaN
    3 300.12
    4 400.00
    dtype- float64

In [24]:
s=pd.Series([100,200,'python',300.12,400])
print("Original Data Series")
print(s)
s=pd.to_numeric(s,'coers')
print("Change the said data type to numeric")
print(s)

Original Data Series
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

## -------------------------------------------------------------------------------------------------

Q4. Write the python pandas program to convert the first column of a
DataFrame as a Series?

    Sample OutputOriginal DataFramecol1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    3 4 9 12
    4 7 5 1
    5 11 0 11
    1st column as a Series0 1
    1 2
    2 3
    3 4
    4 7
    5 11
    Name- col1, dtype- int64
    <class 'pandas.core.series.Series'>

In [28]:
df=pd.DataFrame({'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 
                 'col3': [7, 5, 8, 12, 1,11]})
print("Original DataFrame :")
print(df)
s=pd.Series(df['col1'])
print("1st column as a Series")
print(s)

Original DataFrame :
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
1st column as a Series
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

## -------------------------------------------------------------------------------------------------

Q5. Write a pandas program to create the mean and standard
deviation of the data of a given Series?

    Sample OutputOriginal Data Series0 1
    1 2
    2 3
    3 4
    4 5
    5 6
    6 7
    7 8
    8 9
    9 5
    10 3
    dtype- int64
    Mean of the said Data Series4.81818181818
    Standard deviation of the said Data Series2.52262489555

In [37]:
s=pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print("Original data series :")
print(s)
print("Mean of the said Data Series : ",s.mean())
print("Standard deviation of the said Data Series : ",s.std())

Original data series :
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of the said Data Series :  4.818181818181818
Standard deviation of the said Data Series :  2.522624895547565

## -------------------------------------------------------------------------------------------------

Q6. Write a pandas program to get powers of an array values
element-wise?
 
Note First array elements raised the powers from the second array.

    Sample data: {'X ':[78,85,96,80,86], ' Y ':[84,94,89,83,86],'Z':[86,97,96,72,83]}
    Expected Output:
    X Y Z
    0 78 84 86
    1 85 94 97
    2 96 89 96
    3 80 83 72
    4 86 86 83

In [38]:
s=pd.DataFrame({'X ':[78,85,96,80,86], ' Y ':[84,94,89,83,86],'Z':[86,97,96,72,83]})
print(s)

   X    Y    Z
0  78   84  86
1  85   94  97
2  96   89  96
3  80   83  72
4  86   86  83

## -------------------------------------------------------------------------------------------------

Q7. Write the pandas program to get the first 3 rows of a given
DataFrame?

    Sample Python dictionary data and list labelsexam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- [ 'yes', 'no', 'yes' , 'no', ' no ', ' yes ', 'yes', 'no', 'no', 'yes' ] }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' ]
    Expected OutputFirst three rows of the data frameattempts name qualify score
    a 1 Anastasia yes 12.5
    b 3 Dima no 9.0
    c 2 Katherine yes 16.5

In [52]:
dic={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
              'Matthew', 'Laura', 'Kevin', 'Jonas'],
     'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
     'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
     'qualify': [ 'yes', 'no', 'yes' , 'no', ' no ', ' yes ', 'yes', 'no', 'no', 'yes' ] }
df=pd.DataFrame(dic,index= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' ])
print("The DataFrame is")
print(df)
print("\nFirst three rows of the data frame \n")
v=df[['attempts','name','qualify','score']]
print(df[:3][['attempts','name','qualify','score']])

The DataFrame is
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2     no
f    Michael   20.0         3    yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

First three rows of the data frame

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  Katherine     yes   16.5

## -------------------------------------------------------------------------------------------------

Q8: Write the pandas program to select the specified columns and
the rows from a given data frame?

    Sample Python dictionary data and list labelsSelect 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
    exam_data = {'name ': [ 'Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score'- [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'] }
    labels = ['a ', ' b ', ' c ', ' d ', ' e ', ' f ', ' g ', 'h', 'i', 'j']
    Expected OutputSelect specific columns and rowsname score
    b Dima 9.0
    d James NaN
    f Michael 20.0
    g Matthew 14.5

In [57]:
dic={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
              'Matthew', 'Laura', 'Kevin', 'Jonas'],
     'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
     'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
     'qualify': [ 'yes', 'no', 'yes' , 'no', ' no ', ' yes ', 'yes', 'no', 'no', 'yes' ] }
df=pd.DataFrame(dic,index= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' ])
print("The DataFrame is")
print(df)
rows=[1,3,5,6]
col=["name","score"]
print("\nSelect specific columns and rows\n")
print(df.iloc[rows][col])

The DataFrame is
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2     no
f    Michael   20.0         3    yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Select specific columns and rows

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

## -------------------------------------------------------------------------------------------------

Q9. Write the pandas program to calculate mean score for each
different student in DataFrame?

    Sample Python dictionary data and list labelsexam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- ['yes', 'no', ' yes ', ' no ', ' no ', ' yes ', ' yes ', ' no ', ' no ', ' yes '] }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    Expected OutputMean score for each different student in data frame:
    13.5625

In [58]:
dic={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
              'Matthew', 'Laura', 'Kevin', 'Jonas'],
     'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
     'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
     'qualify': [ 'yes', 'no', 'yes' , 'no', ' no ', ' yes ', 'yes', 'no', 'no', 'yes' ] }
df=pd.DataFrame(dic,index= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' ])
print("The DataFrame is")
print(df)
print("Mean score for each different student in data frame:")
print(df['score'].mean())

The DataFrame is
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2     no
f    Michael   20.0         3    yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Mean score for each different student in data frame:
13.5625

## -------------------------------------------------------------------------------------------------

Q10. Write the Pandas program to rename columns of a given
DataFrame ?

    Sample dataOriginal data frame
    col1 col2 col3
    0 1 4 7
    1 2 5 8
    2 3 6 9
    New data frame after renaming columns:
    Column1 Column2 Column3
    0 1 4 7
    1 2 5 8
    2 3 6 9

In [63]:
dic={'col1':[1,2,3],'col2':[4,5,6],'col3':[7,8,9]}
df=pd.DataFrame(dic)
print("Original data frame\n")
print(df)
print("\nNew data frame after renaming columns:\n")
df.columns=['Column1','Column2','Column3']
print(df)

Original data frame

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

New data frame after renaming columns:

   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

## -------------------------------------------------------------------------------------------------

Q11. Write a pandas program to count city-wise number of people from
a given of data set (city, name of the person)?

    Sample data-
    city Number of people
    0 California 4
    1 Georgia 2
    2 Los Angeles 4

In [6]:
df=pd.DataFrame(
    {'city':['California','Los Angeles','California','California','California',
             'Los Angeles','Los Angeles','Georgia','Georgia','Los Angeles'],
     'name':['Jack','Dave','Andrew','John','Elsa','Aria','Tom','Angaleena','Maria','Paul']})
print("Dataframe :\n")
print(df)
df=df.groupby('city').count().rename(columns={'name':'Number of people'})
print("\ncity-wise number of people\n")
print(df)

Dataframe :

          city       name
0   California       Jack
1  Los Angeles       Dave
2   California     Andrew
3   California       John
4   California       Elsa
5  Los Angeles       Aria
6  Los Angeles        Tom
7      Georgia  Angaleena
8      Georgia      Maria
9  Los Angeles       Paul

city-wise number of people

             Number of people
city
California                  4
Georgia                     2
Los Angeles                 4

## -------------------------------------------------------------------------------------------------

Q12. Write a pandas program to widen output display to see more
columns?
    
    Sample dataOriginal data frame
    col1 col2 col3
    0 1 4 7
    1 4 5 8
    2 3 6 9
    3 4 7 0
    4 5 8 1

In [9]:
df={'col1':[1, 4, 3, 4, 5],'col2':[4, 5, 6, 7, 8],'col3':[7, 8, 9, 0, 1]}
df = pd.DataFrame(df)
pd.set_option('display.max_rows',5000)
pd.set_option('display.max_columns',5000)
pd.set_option('display.width',10000)
print("Original DataFrame")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

## -------------------------------------------------------------------------------------------------

Q13. Write a pandas program to convert the data frame column type
from string to DateTime?
    
    Sample dataString Date0 3/11/2000
    1 3/12/2000
    2 3/13/2000
    dtype- object
    Original DataFrame (string to datetime)-
    0
    0 2000-03-11
    1 2000-03-12
    2 2000-03-13

In [12]:
sd=pd.Series(['3/11/2000','3/12/2000','3/13/2000'])
print("String Date\n")
print(sd)
ds=pd.to_datetime(sd)
print("\nOriginal DataFrame (string to datetime)-\n")
print(ds)

String Date

0    3/11/2000
1    3/12/2000
2    3/13/2000
dtype: object

Original DataFrame (string to datetime)-

0   2000-03-11
1   2000-03-12
2   2000-03-13
dtype: datetime64[ns]

## -------------------------------------------------------------------------------------------------

Q14. Write a pandas program to append the data to an empty
DataFrame?

    Sample dataOriginal DataFrame- After appending some data: col1 col2 0 0 0 1 1 1 2 2 2

In [15]:
df=pd.DataFrame()
print("Original DataFrame-\n")
print(df)
print("\nAfter appending some data:\n")
temp=pd.DataFrame({'col1':[0,1,2],'col2':[0,1,2]})
df=df.append(temp)
print(temp)

Original DataFrame-

Empty DataFrame
Columns: []
Index: []

After appending some data:

   col1  col2
0     0     0
1     1     1
2     2     2

## -------------------------------------------------------------------------------------------------

Q15. Write a pandas program to count the number of columns of a
DataFrame?

    Sample OutputOriginal DataFrame
    col1 col2 col3
    0 1 4 7
    1 2 5 8
    2 3 6 12
    3 4 9 1
    4 7 5 11
    Number of columns- 3

In [59]:
df=pd.DataFrame({'col1':[1,2,3,4,7],'col2':[4,5,6,9,5],'col3':[7,8,12,1,11]})
print("Original DataFrame\n")
print(df)
print("\nNumber of columns- ",len(df.columns))

Original DataFrame

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Number of columns-  3

## -------------------------------------------------------------------------------------------------

Q16. Write a Pandas program to remove the last n rows of a given
DataFrame ?

    Sample Output:
    Original DataFrame
    col1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    3 4 9 12
    4 7 5 1
    5 11 0 11
    After removing last 3 rows of the said DataFramecol1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    
     Link for Datasets
     (https://drive.google.com/drive/folders/105ftuIwN9kqyPNEEm3E6IM7LqywjyvJa?usp=sharing)

In [23]:
df=pd.DataFrame({'col1':[1, 2, 3, 4, 7, 11],'col2': [4, 5, 6, 9, 5, 0],
                 'col3':[7, 5, 8, 12, 1,11]})
print("Original DataFrame\n")
print(df)
print("\nAfter removing last 3 rows of the said DataFrame\n")
print(df.iloc[:-3])

Original DataFrame

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

After removing last 3 rows of the said DataFrame

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

## -------------------------------------------------------------------------------------------------

Q17. Write a Pandas program to import excel data (coalpublic2013.xlsx
) into a Pandas data frame.

In [61]:
df=pd.read_excel('C:\\Users\\josbin\\Downloads\\coalpublic2013.xlsx')
print(df)

    Year  MSHA ID                       Mine_Name  Production  Labor_Hours
0   2013   103381            Tacoa Highwall Miner       56004        22392
1   2013   103404                Reid School Mine       28807        28447
2   2013   100759  North River #1 Underground Min     1440115       474784
3   2013   103246                      Bear Creek       87587        29193
4   2013   103451                     Knight Mine      147499        46393
5   2013   103433              Crane Central Mine       69339        47195
6   2013   100329                    Concord Mine           0       144002
7   2013   100851                  Oak Grove Mine     2269014      1001809
8   2013   102901                Shoal Creek Mine           0        12396
9   2013   102901                Shoal Creek Mine     1453024      1237415
10  2013   103180             Sloan Mountain Mine      327780       196963
11  2013   103182                        Fishtrap      175058        87314
12  2013   103285                     Narley Mine      154861        90584
13  2013   103332                   Powhatan Mine      140521        61394
14  2013   103375                    Johnson Mine         580         1900
15  2013   103419               Maxine-Pratt Mine      125824       107469
16  2013   103432                   Skelton Creek        8252          220
17  2013   103437         Black Warrior Mine No 1      145924        70926
18  2013   102976   Piney Woods Preparation Plant           0        14828
19  2013   102976   Piney Woods Preparation Plant           0        23193
20  2013   103380                          Calera           0        12621
21  2013   103380                          Calera           0         1402
22  2013   103422                 Clark No 1 Mine      122727       140250
23  2013   103467             Helena Surface Mine       59664        30539
24  2013   101247                       No 4 Mine     2622528      1551141
25  2013   101401                       No 7 Mine     5405412      2464719
26  2013   103172  Searles Mine No. 2, 3, 4, 5, 6      258078       119542
27  2013   103179             Fleetwood Mine No 1       75937        63745
28  2013   103303                    Shannon Mine      317491       164388
29  2013   103323                   Deerlick Mine      133452        46381
30  2013   103364           Brc Alabama No. 7 Llc           0        14324
31  2013   103436                Swann's Crossing      137511        77190
32  2013   100347                    Choctaw Mine      537429       215295
33  2013   101362                 Manchester Mine      219457       116914
34  2013   102996                  Jap Creek Mine      375715       164093
35  2013   103155              Corinth Prep Plant           0        27996
36  2013   103155              Corinth Prep Plant           0        51994
37  2013   103195     Mccollum/Sparks Branch Mine       71910        17411
38  2013   103342             Reese's Branch Mine      263888       115123
39  2013   103370             Cresent Valley Mine        2860          621
40  2013   103372                 Cane Creek Mine       66258        32401
41  2013   103376                      Town Creek      299167       176499
42  2013   103389                Carbon Hill Mine       76241        84966
43  2013   103410                Coal Valley Mine      407841       158591
44  2013   103423                Dutton Hill Mine       37275         9162
45  2013  1519322                         Ghm #25       25054         3108
46  2013   103321                  Poplar Springs      189370        76366
47  2013   103358                       Old Union      284563       161805
48  2013  5000030                        Usibelli     1631584       286079
49  2013   201195                    Kayenta Mine     7602722      1015333

## -------------------------------------------------------------------------------------------------

Q18. Write a Pandas program to import excel data (coalpublic2013.xlsx
) into a data frame and find details where "Mine Name" starts with
"P.

In [58]:
print(df[df["Mine_Name"].map(lambda x: x.startswith('P'))])

    Year  MSHA ID                      Mine_Name  Production  Labor_Hours
13  2013   103332                  Powhatan Mine      140521        61394
18  2013   102976  Piney Woods Preparation Plant           0        14828
19  2013   102976  Piney Woods Preparation Plant           0        23193
46  2013   103321                 Poplar Springs      189370        76366

## -------------------------------------------------------------------------------------------------

Q19. Write a Pandas program to import excel data (employee.xlsx )
into a Pandas dataframe and find the list of employees where
hire_date> 01-01-07.

In [54]:
df=pd.read_excel('C:\\Users\\josbin\\Downloads\\employee.xlsx')
print(df[df.hire_date>'20070101'])

    emp_id first_name   last_name  hire_date
4      104      Bruce       Ernst 2007-05-21
7      107      Diana     Lorentz 2007-02-07
13     113       Luis        Popp 2007-12-07
19     119      Karen  Colmenares 2007-08-10

## -------------------------------------------------------------------------------------------------

Q20. Write a Pandas program to import excel data (employee.xlsx )
into a Pandas dataframe and find a list of the employees of a specified
year

In [55]:
print(df[df['hire_date'].map(lambda x: x.year==2005)])

    emp_id first_name last_name  hire_date
1      101      Neena   Kochhar 2005-09-21
5      105      David    Austin 2005-06-25
10     110       John      Chen 2005-09-28
11     111     Ismael   Sciarra 2005-09-30
16     116     Shelli     Baida 2005-12-24
17     117      Sigal    Tobias 2005-07-24

## Great Job!